
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.cabeçalho {
    padding: 10px;
    background-color: white;
}

/*text*/
h1, p {
    text-align: center;
}
/*video de background*/
#video{
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    border-color:aqua;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: justify;
}
#btn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;

}

#btn:hover {
    background: #ddd;
    color: black;
}

/*menu isometrico*/
ul {
    position: relative;
    transform: skewY(-15deg);
    transition: 0.5s;

}
ul li {
    position: relative;
    list-style: none;
    width: 200px;
    background: #3e3f46;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
ul li:hover {
    background: #BF9A78;
    transform: translateX(-50px);
}
ul li a {
    text-decoration: none;
    color: #ddd;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    
}
ul li:hover a {
    color: rgb(255, 255, 255);
}
ul li::before {
    /*forma isometrica*/
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background-color: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;


}
ul li:hover::before {
    background-color: #A67F68;
}
ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
ul li:hover::after{
    background: #A67F68;
}
ul li:last-child::after {
    box-shadow: -100px 100px 20px rgba(0, 0, 0, 1);
}
/*main
conteudo
*/
main {
    position: absolute;
    background: white;
    bottom: 800px;
    top: 800px;
    left: 0;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: justify;
    
}